<body>
   <div class="b-body">
        <div class="main-header ">
            <div>
                <div class="main-logo ">
                    <a class="link" asp-controller="Home" asp-action="Index">TRAVEL AGENTS</a>
                </div>
            </div>
            <div><a  asp-controller="Home" asp-action="Index">HOME</a></div>
            <div><a class="link">ABOUT US</a></div>
            <div><a class="link" asp-area="Identity" asp-page="/Account/Login">LOGIN</a></div>
            <div><a class="link">TOUR PACKAGES</a></div>
            <div><a class="link">OUR SERVICES</a></div>
            <div><a class="link">GALLERY</a></div>
            <div><a class="link">CONTACT</a></div>

            <div>
                <div class="orange header-number">
                    +233 505 5055
                </div>

            </div>
        </div>
        <div class="sub-header">
            <div><p class="big-sub-header">It's a Big World Out There, <span class="orange">Go Explore</span></p></div>
            <div class="sub-header-right">
                <div>
                    <p class="small-sub-header ">Time tracking software used by millions. A simple time tracker and timesheet app that lets you track work hours across projects......</p>
                </div>
                <div>
                    <a class="sub-head-btn">Discover Now</a>
                </div>
            </div>
        </div>
        <img class="img-main" src="/Images/Main Image.png" />
        <div class="main-sub-form">
            <div class="sec">
                <label class="top-desc">From</label>
                <input class="sec-input margin-top-down10" type="text" />
            </div class="sec">
            <div class="sec">
                <label class="top-desc">To</label>
                <input class="sec-input margin-top-down10" type="text" />
            </div> 
            <div class="sec">
                <label class="top-desc">Dates</label>
                <input class="sec-input margin-top-down10" type="date" />
            </div>
            <div class="sec">
                <label class="top-desc">Guest</label>
                <input class="sec-input margin-top-down10" type="number" />
            </div>
            <div>
                <button></button>
            </div>
        </div>
        <div class="section-about">
            <div class="mainImg-mountain about-left">
                <img class="main-img2" src="~/Images/Main-image-2.png" />
            </div>
            <div class="about-right">
                <p class="orange">ABOUT US</p>
                <h1 class="h1-about">The Best and Most trusted <span class="orange">service</span></h1>
                <p class=" p-about">We are the largest holiday service provider in the world with partners and places spread all over the world by prioritizing service and customer satisfaction</p>
                <a class="orange-btn whiten">Learn More</a>
                <div class="">
                    <div class="about-stats">
                        <div class="stat-single">
                            <h5>200+</h5>
                            <p>customer & partners</p>
                        </div>
                        <div  class="stat-single">
                            <h5>500+</h5>
                        <p class="stat-data">place in the world</p>
                        </div>
                        <div class="stat-single">
                            <h5>1k+</h5>
                            <p  class="">success in journey</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
   </div>
</body>