<body>
   <div class="b-body">
        <div class="main-header ">
            <div>
                <div class="main-logo ">
                    <a asp-controller="Home" asp-action="Index">TRAVEL AGENTS</a>
                </div>
            </div>
            <div><a asp-controller="Home" asp-action="Index">HOME</a></div>
            <div><a>ABOUT US</a></div>
            <div><a>TOUR PACKAGES</a></div>
            <div><a>OUR SERVICES</a></div>
            <div><a>GALLERY</a></div>
            <div><a>CONTACT</a></div>

            <div>
                <div class="orange header-number">
                    +233 505 5055
                </div>

            </div>
        </div>
        <div class="sub-header">
            <div><p class="big-sub-header">It's a Big World Out There, <span class="orange">Go Explore</span></p></div>
            <div class="sub-header-right">
                <div>
                    <p class="small-sub-header ">Time tracking software used by millions. A simple time tracker and timesheet app that lets you track work hours across projects......</p>
                </div>
                <div>
                    <a class="sub-head-btn">Discover Now</a>
                </div>
            </div>
        </div>
        <img class="img-main" src="/Images/Main Image.png" />
        <div class="main-sub-form">
            <div class="sec">
                <label class="top-desc">From</label>
                <input class="sec-input margin-top-down10" type="text" />
            </div class="sec">
            <div class="sec">
                <label class="top-desc">To</label>
                <input class="sec-input margin-top-down10" type="text" />
            </div> 
            <div class="sec">
                <label class="top-desc">Dates</label>
                <input class="sec-input margin-top-down10" type="date" />
            </div>
            <div class="sec">
                <label class="top-desc">Guest</label>
                <input class="sec-input margin-top-down10" type="number" />
            </div>
            <div>
                <button></button>
            </div>
        </div>
   </div>
</body>