<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <div class="b-body">
        <div class="main-header ">
            <div>
                <div class="main-logo ">
                    <a class="link" asp-controller="Home" asp-action="Index">TRAVEL AGENTS</a>
                </div>
            </div>
            <ul class="nav">
            <li class="link-div  "><a  asp-controller="Home" asp-action="Index">HOME</a></li>
            <li class="link-div"><a class="link ">ABOUT US</a></li>
            <li class="link-div"><a class="link"  asp-area="Identity" asp-page="/Account/Login">LOGIN</a></li>
            <li class="link-div"><a class="link">TOUR PACKAGES</a></li>
            <li class="link-div"><a class="link">OUR SERVICES</a></li>
            <li class="link-div"><a class="link">GALLERY</a></li>
            <li class="link-div"><a class="link">CONTACT</a></li>
            </ul>
            <div>
                <div class="orange header-number">
                    +233 505 5055
                </div>

            </div>
        </div>
        <div class="header1">
            <div class="top-planes">
                
            </div>
            <div class="sub-header">
                <div><p class="big-sub-header">It's a Big World Out There, <span class="orange">Go Explore</span></p></div>
            <div class="sub-header-right">
                <div>
                    <p class="small-sub-header ">Time tracking software used by millions. A simple time tracker and timesheet app that lets you track work hours across projects......</p>
                </div>
                <div>
                    <a class="sub-head-btn discover-btn">Discover Now</a>
                </div>
            </div>
        </div>
        </div>
        <div class="main-container">
            <div class="main-img">
                     <video class="img-main" controls >
                         <source src="/Images/Videos/Tourism _ Travel Sample Video AD.mp4" type="video/mp4"/>
                     </video>
            </div>
            <div class="main-sub-form">
                <div class="sec">
                    <label class="top-desc">From</label>
                    
                    <i class="bi bi-geo-alt form-icon"></i>
                    <input class="sec-input" placeholder="Bali, Indonesia" type="text" />
                </div class="sec">
                <div class="sec">
                    <label class="top-desc">To</label>
                    <i class="bi bi-geo-alt form-icon"></i>
                    <input class="sec-input" placeholder="Bali, Indonesia" type="text" />
                </div> 
                <div class="sec">
                    <label class="top-desc">Dates</label>
                    <input class="sec-input" placeholder="Select a date range" type="date" />
                </div>
                <div class="sec">
                    <label class="top-desc">Guest</label>
                    <i class="bi bi-people-fill form-icon"></i>
                    <input class="sec-input" placeholder="Number of guests" type="number" />
                </div>
                <div>
                    <button class="search-btn"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>

        <div class="section-about">
            <div class="mainImg-mountain about-left">
                <img class="main-img2" src="~/Images/Main-image-2.png" />
            </div>
            <div class="about-right">
                <p class="orange">ABOUT US</p>
                <h1 class="h1-about">The Best and Most trusted <span class="orange">service</span></h1>
                <p class=" p-about">We are the largest holiday service provider in the world with partners and places spread all over the world by prioritizing service and customer satisfaction</p>
                <a class="orange-btn whiten learn-more-btn-1">Learn More</a>
                <div class="">
                    <div class="about-stats">
                        <div class="stat-single">
                            <h5>200+</h5>
                            <p class="stat-data">customer & partners</p>
                        </div>
                        <div  class="stat-single">
                            <h5>500+</h5>
                        <p class="stat-data">place in the world</p>
                        </div>
                        <div class="stat-single">
                            <h5>1k+</h5>
                            <p  class="stat-data">success in journey</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="home-destinations">
            <h1 class="center home-destatination-sub">The <span class="orange">best place</span> for a vacation</h1>
            <ul class="nav-homeopt">
                <li><a>Special Deals</a></li>
                <li><a>Popular</a></li>
                <li><a>Recommendation</a></li>
                <li><a>Best Price</a></li>
            </ul>
            <a class="btn-viewall orange">View All</a>
        </div>

        <div class="div-sideinfo"> 
            <div>
                <h1>Why <span class="orange">Choose</span> Us</h1>
                <div class="side-info">
                    <div class="div-sideinfo1">
                    <p>We ensure that you'll embark on a perfectly planned, save vacation at a price you can afford</p>
                    </div>
                </div>
                <div class="t-margin">
                    <a class="learn-more-2 ">Learn more</a>
                </div>
            </div>
            <div class="choose-us-main">
                <div class="choose-us">
                <div><img src="~/Images/Icon1.png" alt="Icon image"/></div>
                <div><h5>Best Travel Agency</h5></div>
                <div><p>Travel Agencies that provide one trip, one way and multi trip services.</p></div>
            </div>
            <div class="choose-us">
                <div><img src="/Images/Icon2.png" alt="Icon image"/></div>
                <div><h5>Competitive Price</h5></div>
                <div><p>The price offered are affordable starting from the ordinary to the exclusive.</p></div>
            </div>
            <div class="choose-us">
                <div><img src="/Images/Icon3.png" alt="Icon image"/></div>
                <div><h5>Global Coverage</h5></div>
                <div><p>There are many tourist attractions, hotels and interesting entertainment.</p></div>
            </div>
            </div>          
        </div>
        <div class="reviews">
            <div><h1 class="center">Contact us to review  <span class="orange">your experience</span> with us</h1></div>
            <div>Give us feedback and let us know what experiences you had while on vacation with us</div>
            <div class="actual-reviews">                
        </div>
        <img class="quotation" src="~/Images/Quotations.png" />
        <div class="user-reviews">
                    <div class="review">
                    <div><p>Wow, what a fun vacation with Oelinken, guided by professional people</p></div>
                    <div class="review-lower">
                        <div>
                            <img class="rev-img" src="/Images/review-image1.png" />
                        </div>
                        <div><h4>Benjamin Robert</h4>
                        <img class="rating-img" src="/Images/Rating.png" />
                        </div>
                        
                    </div>
                </div>
                <div class="review">
                    <div><p>Wow, what a fun vacation with Oelinken, guided by professional people</p></div>
                    <div class="review-lower">
                        <div>
                            <img class="rev-img" src="/Images/review-image2.png" />
                        </div>
                        <div><h4>Benjamin Robert</h4>
                        <img class="rating-img" src="/Images/Rating.png" />
                        </div>
                        
                    </div>
                </div>
                <div class="review">
                    <div><p>Wow, what a fun vacation with Oelinken, guided by professional people</p></div>
                    <div class="review-lower">
                        <div>
                            <img class="rev-img" src="~/Images/review-image3.png" />
                        </div>
                        <div><h4>Benjamin Robert</h4>
                        <img class="rating-img" src="/Images/Rating.png" />
                        </div>
                        
                    </div>
                </div>
                </div>
            </div>
        <div class="blog">
           <div class="blog-h">
                <div><h1>Our Blog</h1></div>
            <div><p class="blog-h-p">Stay up to date with the latest tech trends and news in the pets.</p>
            <a class="btn-viewall" >View All</a>
            </div>
           </div>
           <div class="blogs">
               <div class="actual-blog">
                <img src="/Images/Blog-image1.png"/>
                <h6>The Amazing Difference a Year of Travelling .</h6>
                <p>There isn’t a relationship around that can survive without trust. My relationship with my dog Peyton is deep...</p>
                </div>
            <div class="actual-blog">
                <img src="/Images/Blog-image2.png"/>
                <h6>Reflections on 5 Months of Travel: Time to Hang.</h6>
                <p>Doting pet parents have a relentless need to constantly photograph every adorable pet moment...</p>
            </div>
            <div class="actual-blog">
                <img src="/Images/Blog-image3.png"/>
                <h6>How to Save Money While Visiting Africa .</h6>
                <p>It is easy to forget that animals are living creatures with a beating heart.</p>
            </div>
           </div>
           <div class="affiliates">
               <img class="logos-affiliates" src="~/Images/Sponsors.png" />
           </div>

        </div>
       
   </div>
  <div class="footer-container">
           <div class="footer-bg-planes">
           <img src="~/Images/BG planes footer.png" />
            </div>
       <div class="footer-paperplane">
           <img src="/Images/Paper-plane.png" />
       </div>
    </div>
    <div class="bottom">
        <div>
            <div>
            <ul>
            <li><a>Features</a></li>
            <li><a>FAQ’s</a></li>
            <li><a>News</a></li>
            <li><a>Pricing</a></li>
            </ul>
        </div>
        </div>
  </div>
  <footer>
        <div>
            Travel Agent &copy; 2022 All Rights Reserved
        </div>
        <div class="layout-right">
            <div><a>Terms of Service</a></div>
            <div>Privacy Policy</div>
        </div>
    </footer>
</body>